<h1 class = 'mt-5 mb-5 text-center font-semibold text-xl tracking-tight'><%= @article.title %></h1>
<div class= 'mr-20 ml-20'>
  <div class = 'bg-indigo-500 text-black font-bold rounded-lg p-8 mt-1'>
    <p> <%= @article.body %> </p>
  </div>
  <h1 class = 'text-left text-sm text-gray-500'>Author: <%= @article.user.username %> </h1>
</div>

<h2 class = 'mt-5 mb-5 text-center font-semibold text-xl tracking-tight'>Comments</h2>
<%= render @article.comments %>
<h2 class = 'mt-5 mb-5 text-center font-semibold text-xl tracking-tight'>Add a comment:</h2>
<%= render 'comments/form' %>
<% if current_user == @article.user %>
  <ul>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li><%= link_to "Destroy", article_path(@article),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %></li>
  </ul>
<% end %>
