<section class="max-w-3xl mx-auto mb-12">
  <div class="bg-white lg:flex lg:shadow-lg lg:rounded-lg">
    <div class="p-12 text-center">
      <h2 class="text-2xl text-gray-800 font-bold md:text-3xl"> <%= @article.title %> </h2>
      <p class="mt-4 text-gray-600 text-left"> <%= @article.body %> </p>
      <div class="mt-2 mb-10 text-sm text-gray-500">
        <h1 class='text-left mx-2 text-gray-700 font-semibold '>By: <%= link_to @article.user.username, user_path(@article.user.id), class:'hover:underline' %> </h1>
        <h1 class="text-right"> <%= @article.created_at.strftime('%m/%d/%Y') %> </h1>
      </div>
      <div class="mt-1 mb-10 justify-between">
        <% if current_user == @article.user %>
          <a> <%= link_to "Edit", edit_article_path(@article), class:'mx-2 text-gray-700 font-semibold hover:underline' %> </a>
          <a> <%= link_to "Destroy", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, 
          class:'mx-2 text-gray-700 font-semibold hover:underline' %> </a>
        <% end %>
      </div>
      <% if (@article.user.followers.find_by(follower: current_user)) != nil || @article.user == current_user %>
        <%= render 'comments/form' %>
      <% end %>
      <% if @article.comments.count > 0 %>
        <div>
          <h2 class = 'mt-5 mb-5 text-center font-semibold text-xl tracking-tight'>Comments</h2>
          <%= render @article.comments %>
        </div>
      <% end %>
    </div>
  </div>
</section>
